body {
    font-family: "Nunito Sans", sans-serif;
}

/* Navbar */

.btn-round {
    border-radius: 40px;
}

.shadow {
    box-shadow: 5px 50px rgb(0 0 0 / 15%);
}

.padding-zero {
    padding: 0;
}

.silk-background {
    background-color: #fff;
}

.cta-top {
    /* box-shadow: 0px 0px 10px #000; */
    width: 100%;
    font-weight: 800;
    border: 1px solid black;
}

/* Header and Title Section */

.header-text {
    font-weight: 800;
    line-height: 1.2em;
    font-size: 3rem;
    color: #39518e;
    letter-spacing: 1px;
    width: 100%;
    padding-bottom: 1rem !important;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
    text-transform: capitalize;
}

.title-cta-buttons {
    margin-top: 25px;
    margin-right: 15px;
}

.title-2 {
    font-size: 2em;
    line-height: 1.2em;
    padding-bottom: 1rem !important;
    color: #5f5a5a;
    font-weight: 200;
    text-decoration:solid;
}

.title-3 {
    font-size: 2.0em;
    line-height: 1.2em;
    font-weight: 800;
    color: rgb(39, 37, 37, 0.9);
}

#title div {
    font-weight: 400;
}

.cta-image {
    height: 100%;
    width: 100%;
}

.cta-header {
    font-weight: 800;
    font-size: 2.3rem;
    font-style: italic;
    color: #39518e;
    padding-bottom: 10px;
}

.cta-text {
    font-size: 1.5rem;
    font-weight: 100;
}

.ap-text {
    display: block;
    padding-top: .9em;
    font-size: medium;
    font-weight: bold;
}

.sponsor-img {
    max-width: 250px;
    height: 95%;
    margin: 0 25px;
    opacity: .5;
}

.form-css {
    color:#39518e;
}

.solicitar-btn {
    padding-bottom: 8px;
    width: 100%;
    font-size: large;
    font-weight: 800;
}

/* Como Funciona */

.function-images img {
    width: 42%
}

.header-cf {
    padding: 30px 0;
    letter-spacing: 1px;
    font-size: 2.2em;
    font-weight: 700;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
}

.hr-cf {
    color: #8be48b;
}

#como-funciona h4 {
    padding-bottom: 0px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1;
}

#como-funciona p {
    color: #c1e5ef;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    opacity: 0.7;
}

#como-funciona hr {
    color: #8be48b;
    border-top: 2px solid #8be48b;
    width: 100%;
    padding-top: 10px;
}

#como-funciona .container{
    box-shadow: 0px 0px 10px #000;
}


/* Long Description */

.ld-text h4 {
    line-height: 1.5;
    color: rgb(255, 255, 255, 1);
    letter-spacing: 0px;
    padding-bottom: 1rem;
    font-size: 18px;
    font-weight: 500;
}

.ld-cta {
    color: rgb(255, 255, 255, 1);
    font-weight: 800;
}

#ldpic1 {
    position: relative;
    margin-left: 5px;
    margin-top: 150px;
}

#ldpic2 {
    position: absolute;
    margin-left: 25px;
    margin-bottom: 50px;
}

#ldpic3 {
    position: absolute;
    margin-left: -35px;
    margin-top: 90px;
}

.ldpics {
    width: 220px;
    opacity: .7;
}

/* CTA */

.cta-span {
    color: #39518e;
    font-weight: 700;
    font-size: 24px;
}

#cta p {
    font-size: 18px;
    line-height: 1.5;
    color: #494848;
    font-weight: 300;
}

.cta-bg {
    width: 460px;
    height: 460px;
    position: absolute;
    margin-left: -200px;
    z-index: -1;
    opacity: .3;
    transform: scaleX(-1);
}

.cta-points {
    z-index: 1;
}

.final-cta-btn {
    width: 100%;
    font-size: larger;
    font-weight: 900;
    box-shadow: 0px 0px 10px #000;
}

/* Footer */

footer {
    background-color: #fff;
    margin: 0px;
    padding-bottom: 40px;
}

/* Responsive Media Queries */

@media (max-width: 767px) {

    #title .header-subtitle {
        font-weight: 500;
        font-size: 1.0em;
        color: #4e635d;
        padding-top: 0;
        text-align: center;
    }

    #title-buttons {
        text-align: center;
    }

    .final-cta-btn {
        width: 100%;
        margin-top: 15px;
    }

    .promo-video {
        height: 400px;
    }

    .form-cta {
        text-align: center;
    }

    .ldpics {
        width: 200px;
        opacity: 1;
    }
}

@media (max-width: 850px) {

    .header-text {
        font-weight: 800;
        line-height: 1em;
        font-size: 2.5rem;
        color: #39518e;
        letter-spacing: 1px;
        width: 100%;
        padding-bottom: 1rem !important;
        margin-top: 1rem !important;
        text-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
        text-align: center;
        text-transform: capitalize;
    }

    .title-2 {
        font-size: 1.5em;
        line-height: 1em;
        padding-bottom: 1rem !important;
        color: #5f5a5a;
        font-weight: 500;
        text-align: center;
    }
    
    .title-3 {
        font-size: 1.5em;
        line-height: 1em;
        font-weight: 800;
        color: rgb(39, 37, 37, 0.9);
        text-align: center;
    }

    .title-cta-buttons {
        margin: 0;
    }

    .form-cta {
        text-align: center;
    }

    #email-form {
        text-align: center;
        margin-bottom: 20px;
    }

    #email-form .btn {
        width: 100%;
        margin-top: 10px;
    }

    .function-images img {
        width: 20%
    }

    #ldpic1 {
        display: none;
    }

    #ldpic2 {
        display: none;
    }

    #ldpic3 {
        display: none;
    }

    .marquee {
        width: 100vw;
        height: 5vh;
        background-color: lightgray;
        color: tomato;
        overflow: hidden;
    }
}


/* Marquee CSS */
.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 200px;
    overflow-x: hidden;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  

.marquee {
    width: 100vw;
    height: 20vh;
    background-color: lightgray;
    color: tomato;
    overflow: hidden;
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 25s linear infinite;
}

.marquee-content li {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    /* content: ""; */
    z-index: 1;
  }



@keyframes scrolling {
    0% {transform: translateX(100vw); }
    100% {transform: translateX(-180vw); }
}