body {
    font-family: "Nunito Sans", sans-serif;
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: -80px;
    background-size: 100%;
    background-image: url("./imgs/src-imgs/bg/fondo_main2.jpeg") !important;
    z-index: 1;
}

/* Navbar */

.btn-round {
    border-radius: 40px;
}

.padding-zero {
    padding-bottom: 5px;
}

.silk-background {
    background-color: #fff;
}

.cta-top {
    font-weight: 900;
    font-size: 18px;
    padding: none;
    background-color: #39518e;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
}

.form-cta {
    display: flex;
    margin: auto;
}

/* Header and Title Section */

.header-text {
    font-weight: 900;
    line-height: 1.2em;
    font-size: 3rem;
    color: #39518e;
    letter-spacing: 1px;
    width: 100%;
    padding-bottom: 1rem !important;
}

.title-2 {
    font-size: 1.8em;
    line-height: 1.2em;
    padding-bottom: 1rem !important;
    color: #39518e;
    font-weight: bold;
    text-decoration:solid;
}

.title-3 {
    font-size: 1.6em;
    line-height: 1.2em;
    font-weight: 900;
    color: #39518e;
    padding-top: 45px;
}

#title div {
    font-weight: 400;
}

.cta-image {
    height: 100%;
    width: 100%;
}

.cta-header {
    font-weight: 800;
    font-size: 2.3rem;
    font-style: italic;
    color: #39518e;
    padding-bottom: 10px;
}

.cta-text {
    font-size: 1.5rem;
    font-weight: 100;
}

.ap-text {
    display: block;
    padding-top: .9em;
    font-size: medium;
    font-weight: bold;
}

.sponsor-img {
    max-width: 250px;
    height: 95%;
    margin: 0 25px;
    opacity: .5;
}

.solicitar-btn {
    padding-bottom: 8px;
    width: 100%;
    font-size: large;
    font-weight: 800;
}

/* Como Funciona */

.function-images img {
    width: 60%;
    padding: 17px;
}

.header-cf {
    padding: 30px 0;
    letter-spacing: 0;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
}


#como-funciona h4 {
    padding-bottom: 10%;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1;
}

#como-funciona p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

#como-funciona hr {
    border-top: 12px dotted #42d942;
    width: 40%;
    padding-top: 10%;
    margin:auto;
}

.mariposa {
    padding: 25px;
    width: 80%;
}

/* Long Description */

.ld-text h4 {
    line-height: 1.5;
    letter-spacing: 0px;
    padding: 30px 30px 30px 0;
    font-size: 22px;
    font-weight: 700;
}


.long-d-class {
    background-color: #c5e2c5;
    color: #39518e;
}

.ldpics {
    width: 220px;
    opacity: .7;
}

.ld-icon {
    width: 30px;
}

/* CTA */

.cta-span {
    color: #39518e;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

#cta p {
    font-size: 20px;
    line-height: 1.5;
    color: #39518e;
    font-weight: 700;
}

.cta-bg {
    background-image: url("./imgs/src-imgs/bg/FondoBottom.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 105%;
    z-index: -1;
}

.cta-points {
    z-index: 1;
}

.final-cta-btn {
    width: 100%;
    font-size: larger;
    font-weight: 900;
    box-shadow: 0px 0px 10px #000;
}

/* Footer */

footer {
    margin: 0px;
    padding-bottom: 40px;
    background-color: #94d88f;
}

.footer-social {
    padding: 20px;
    width: 40%;
}

.footer-email {
    font-size: 20px;
    color:#39518e;
    font-weight: 900;
}

/* Responsive Media Queries */

@media (max-width: 850px) {
    body {
        background: none;
        background-image: none !important;
    }

    #title .cta-video {
        margin: auto !important;
        padding: auto !important;
        padding-right: 0%;

    }

    #title-buttons {
        display: block;
    }

    .header-text {
        font-size: 2.8rem;
    }

    .title-3 {
        padding-top: 20px;
    }

    #validationCustom01 {
        display: block;
    }

    .header-cf {
        font-size: 1.7em;
    }

    #como-funciona p {
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.5;
    }

    #como-funciona .container {
        border-radius: 25px 25px 25px 25px !important;
    }

    .long-d-class {
        border-radius: 25px 25px 25px 25px !important;
    }

    .long-d-class .ld-text {
        padding-top: none !important;
    }

    .ld-text h4 {
        padding: 15px !important;
    }

    #id-mariposa {
        text-align: center;
    }
    
    .mariposa {
        width: 100px;
        margin: auto;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-social {
        width: 30%;
    }

    .footer-email-col {
        text-align: center !important;
    }

    .cta-video {
        width: 100% !important;
        text-align: center !important;
    }

    #title .header-subtitle {
        font-weight: 500;
        font-size: 1.0em;
        color: #4e635d;
        padding-top: 0;
        text-align: center;
    }

    #title-buttons {
        text-align: center;
    }

    .nav-button {
        font-weight: 900;
        width: min-content;
        font-size: 12px;
        padding: none;
        background-color: #39518e;
        border: none;
        border-radius: 25px;
        text-transform: uppercase;
    }

    .promo-video {
        height: 400px;
    }

    .form-cta {
        display: block;
        margin: auto;
        text-align: center;
    }

    .cta-email-btn {
        margin-top: 10px;
        width: fit-content;
    }

    .ldpics {
        width: 200px;
        opacity: 1;
    }

    .marquee {
        height: 15vh !important;
        padding: none !important;
    }

    .sponsor-img {
        margin: 10px;
    }

    .marquee-content {
        list-style: none;
        height: 100%;
        display: flex;
        animation: scrolling 20s linear infinite !important;
    }
}

@media (min-width: 1300px) {
    body {
        background-repeat: no-repeat;
        background-position: center top;
        background-position-y: -150px;
        background-size: 100%;
        background-image: url("./imgs/src-imgs/bg/fondo_main2.jpeg") !important;
        z-index: 1;
    }

    .long-d {
        padding-bottom: 5% !important;
    }
}

/* Marquee CSS */
.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 150px;
    overflow-x: hidden;
    padding: 20px;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  

.marquee {
    width: 100vw;
    height: 25vh;
    background-color: lightgray;
    overflow: hidden;
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 25s linear infinite;
}

.marquee-content li {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    z-index: 1;
  }

@keyframes scrolling {
    0% {transform: translateX(100vw); }
    100% {transform: translateX(-180vw); }
}